<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All of our cats</title>
  </head>
  <body>
    <h1>All of our beautiful cats</h1>
    <ul>
      <% @cats.each do |cat| %>
        <li>
          <%= link_to cat.name, cat_url(cat) %>
        </li>
      <% end %>
    </ul>
  <h3><%= link_to "make a new cat", new_cat_url %></h3>
  </body>
</html>
